GridPane {
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}
VBox {
    -fx-pref-width: 300;
}

.first-column {
    -fx-pref-width: 150; /* if used with selector TableColumn, it is not applied */
}